* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff0f6;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d63384;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffd6eb;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #d63384;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
header{
    text-align: center;
    background-color: #d63384;
    color: white;
    padding: 40px 20px;
}
header h1{
    font-size: 2em;
    margin: o;
}
header p{
    font-style: italic;
    margin-top: 10px;
}
.about,.contact{
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
h2{
    color: #d63384;
    border-bottom: 2px solid #d63384;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.about p .contact p{
    line-height: 1.8;
    font-size: 1rem;
}
footer{
    background: #333;
    color:white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.9em;
}