/* Global */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff0f6;
  color: #333;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d63384;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffd6eb;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #d63384;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
header {
  background-color: #EBD6C4;
  /* background-color: #dd9574; */
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.stunn {
  font-weight: bolder;
  font-size: 2rem;
  margin-left: 70px;
  color: #333;
  margin-bottom: 0;
}
.serv{
  width: 400px;
  height: 400px;
  display: block;
  padding: 16px 18px;
  margin-right: 70px;
  margin-top: 0;
}
.stunn,.serv {
  flex: 1;
}
.boom {
  text-align: center;
  color: #d63384;
}
.service h1 {
  text-align: center;
  color: #d63384;
}
.service p {
  text-align: center;
  font-size: large;
}
.beauty {
  font-size: large;
}
.container {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 36px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  /* flex-wrap: nowrap; 
  overflow-x: auto; 
  gap: 20px;
  padding: 50px 20px; */
}

.card {
  flex: 0 0 320px;
  /* background: #fff; */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  /* scroll-snap-align: start; */
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}
.card-content {
  padding: 15px;
  /* text-align: center; */
}
.card-content h3 {
  color: #d63384;
  margin-bottom: 10px;
}
.book {
  text-align: center;
}
@media (max-width:768px){
  .services{
    grid-template-columns: repeat(2 , 1fr);
  }
  header{
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }
  .serv, .stunn{
    width: 100%;
  }

}
